@keyframes buttonPress {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0.5vw) translateY(0.5vw);
  }
}

.buttonPress {
  animation: buttonPress ease 0.25s 1 forwards;
}

.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4vw;
}

.landingPage__logo {
  max-width: 16vw;
  margin-left: 4.1vw;
  align-self: flex-start;
}

.landingPage__main-info {
  display: flex;
  align-items: center;
  max-width: 75vw;
  margin: 9.5vw 0;
}

.landingPage__buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.landingPage__button {
  margin: 10px 0 10px 20px;
  color: var(--cream);
  border-style: none;
}

.survey-button {
  background-color: var(--pink);
  box-shadow: var(--box-shadow-small) var(--jade);
}

.follow-button {
  background-color: var(--orange);
  box-shadow: var(--box-shadow-small) var(--pink);
  padding: 0.8vw 3vw;
}

.kickstarter-button {
  background-color: var(--olive);
  box-shadow: var(--box-shadow-small) var(--skyblue);
  height: 5.7vw;
  max-width: 230px;
}

.follow__button {
  border: none;
  padding: 20px 27px;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.instagram {
  background: var(--purple) url(../../images/Instagram.svg) center no-repeat;
  box-shadow: var(--box-shadow-small) var(--lime);
}

.tiktok {
  background: var(--apricot) url(../../images/TikTok.svg) center no-repeat;
  box-shadow: var(--box-shadow-small) var(--jade);
}

.linkedin {
  background: var(--lime) url(../../images/LinkedIn.svg) center no-repeat;
  box-shadow: var(--box-shadow-small) var(--peach);
}

.landingPage__info {
  margin: 0;
  margin-left: 3vw;
  max-width: 32vw;
  line-height: 30px;
  color: var(--darkgreen);
}

.landingPage__scroll-button {
  color: var(--cream);
  background-color: var(--purple);
  box-shadow: var(--box-shadow-small) var(--lime);
  align-self: flex-end;
  margin-right: 13vw;
  margin-bottom: 3vw;
  border: none;
}

.ss__title {
  color: var(--jade);
}

.ss__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--jade);
  margin-bottom: 3vw;
}

.ss__detail {
  background-color: var(--cream);
  border-style: solid;
  border-width: 2px;
  border-color: var(--jade);
  box-shadow: var(--box-shadow-large) var(--jade);
  border-radius: 35px;
  flex-wrap: wrap;
  padding: 3vw;
  width: 50vw;
  text-align: center;
  font-family: "Satoshi Bold";
  font-size: 1.2vw;
}

.ss__comment {
  font-family: "Satoshi Bold";
  max-width: 30vw;
  align-self: flex-end;
  margin-right: 15vw;
  font-size: 1.2vw;
  line-height: 2.2vw;
  background: var(--apricot);
  padding: 2.5vw 4vw;
  border-radius: 25px;
  color: var(--cream);
  box-shadow: var(--box-shadow-large) var(--lime);
  margin-bottom: 2vw;
  text-align: center;
}

.landingPage__scroll-up-button {
  width: 4vw;
  height: 4vw;
  border-radius: 100%;
  background: var(--olive) url(../../images/Arrow.svg) center no-repeat;
  box-shadow: var(--box-shadow-small) var(--skyblue);
  border: none;
  align-self: flex-start;
  margin-top: -4vw;
  padding: 0;
}

.landingPage__copyright {
  margin-right: 2vw;
  font-family: "Satoshi Medium";
  font-size: 0.9vw;
  align-self: flex-end;
}

@media screen and (max-width: 1000px) {
  .landingPage__logo {
    max-width: 20vw;
  }

  .landingPage__scroll-up-button {
    width: 4vw;
    height: 4vw;
    background: var(--olive) url(../../images/SmallArrow.svg) center no-repeat;
  }

  .landingPage__info {
    font-size: 2vw;
    line-height: 3.5vw;
  }

  .landingPage__button {
    font-size: 1.7vw;
    padding: 2vw 4vw;
  }

  .kickstarter-button {
    height: auto;
  }

  .landingPage__scroll-button {
    margin-bottom: 5vw;
  }

  .ss__title {
    font-size: 1.7vw;
  }

  .ss__detail {
    font-size: 1.4vw;
  }

  .ss__comment {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 750px) {
  .ss__detail {
    width: 65vw;
  }

  .ss__title {
    font-size: 3vw;
  }

  .ss__detail {
    font-size: 1.75vw;
    border-radius: 20px;
  }

  .landingPage__logo {
    max-width: 25vw;
    margin: 2vw 0 0 5vw;
  }

  .follow__button {
    padding: 0;
    width: 40px;
    height: 30px;
  }

  .landingPage__scroll-button {
    align-self: center;
    margin: 0 0 5vw;
  }

  .instagram {
    background: var(--purple) url(../../images/SmallInstagram.svg) center
      no-repeat;
  }

  .tiktok {
    background: var(--apricot) url(../../images/SmallTikTok.svg) center
      no-repeat;
  }

  .linkedin {
    background: var(--lime) url(../../images/SmallLinkedIn.svg) center no-repeat;
  }

  .landingPage__scroll-up-button {
    width: 5vw;
    height: 5vw;
    background: var(--olive) url(../../images/SmallArrow.svg) center no-repeat;
  }
}

@media screen and (max-width: 450px) {
  @keyframes buttonPress {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(1.5vw) translateY(1.5vw);
    }
  }

  .buttonPress {
    animation: buttonPress ease 0.25s 1 forwards;
  }

  .follow__buttons {
    margin-bottom: 10px;
  }

  .follow__button {
    padding: 5vw 7vw;
    width: 40px;
    height: 30px;
    margin: 2vw;
  }

  .landingPage__main-info {
    flex-direction: column-reverse;
  }

  .ss__comment {
    font-size: 3vw;
    max-width: 50vw;
    margin-bottom: 5vw;
    padding: 4vw 8vw;
    box-shadow: var(--box-shadow-mobile) var(--lime);
    line-height: 4.5vw;
  }

  .ss__detail {
    font-size: 3vw;
    padding: 7vw;
    border-radius: 20px;
    box-shadow: var(--box-shadow-mobile) var(--jade);
  }

  .landingPage__button {
    font-size: 3.5vw;
    padding: 4vw 8vw;
    margin: 10px 0 10px;
  }

  .landingPage__buttons {
    align-items: center;
  }

  .ss__title {
    font-size: 5vw;
    text-align: center;
  }

  .landingPage__info {
    font-size: 5.2vw;
    line-height: 8vw;
    max-width: 85vw;
    margin: 4vw 0 10vw;
    text-align: center;
  }

  .landingPage__logo {
    max-width: 45vw;
    margin: 7vw 0 0 7vw;
  }

  .landingPage__scroll-button {
    margin: 5vw 0 9vw;
    align-self: center;
    padding: 3vw 7vw;
    max-width: 70vw;
    font-size: 2.75vw;
  }

  .landingPage__scroll-up-button {
    width: 10vw;
    height: 10vw;
  }

  .kickstarter-button {
    height: auto;
  }

  .landingPage__copyright {
    font-size: 2.5vw;
  }

  .survey-button {
    box-shadow: var(--box-shadow-mobile) var(--jade);
  }

  .follow-button {
    box-shadow: var(--box-shadow-mobile) var(--pink);
    padding: 4vw 15vw;
  }

  .kickstarter-button {
    box-shadow: var(--box-shadow-mobile) var(--skyblue);
  }

  .instagram {
    background: var(--purple) url(../../images/MedInstagram.svg) center
      no-repeat;
    box-shadow: var(--box-shadow-mobile) var(--lime);
  }

  .tiktok {
    background: var(--apricot) url(../../images/MedTikTok.svg) center no-repeat;
    box-shadow: var(--box-shadow-mobile) var(--jade);
  }

  .linkedin {
    background: var(--lime) url(../../images/MedLinkedIn.svg) center no-repeat;
    box-shadow: var(--box-shadow-mobile) var(--peach);
  }

  .landingPage__scroll-button {
    box-shadow: var(--box-shadow-mobile) var(--lime);
    margin: 5vw 0 9vw;
    align-self: center;
    padding: 4vw 10vw;
    max-width: 80vw;
  }

  .landingPage__scroll-up-button {
    box-shadow: var(--box-shadow-mobile) var(--skyblue);
  }
}

.clickButton {
  box-shadow: none;
  transition: 0.25s;
}
